body{
    font-family: ;Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header{
    background-color:antiquewhite;
    text-align: center;
}

nav{
    padding: 2px 0;
    font-size: 0.8em;
    font-family: "bebas neue", "suse mono", "courier new";
}

a{
    text-decoration: none;
    color: #333;
}

#noticiasRecientes{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

#noticiasRecientes span{
    flex: auto;
    text-align: center;
}


#registro{
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

#registro form{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*importacion de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');


/*esto es para que se vea bien en dispositivos moviles*/

@media (max-width: 768px){
    #noticiasRecientes{
        flex-direction: column;
        align-items: center;
    }
}